<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> img layout responsive</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<script type="text/javascript">

</script>

<style>
    .wrap { width: 100%; overflow: hidden; }
    .wrap .inner { width: 100%; max-width: 1200px; margin: 0 auto; }
    .wrap .inner .pr_wrap .product img { width: 100%; }
    .wrap .inner .pr_wrap .product p:nth-child(3) { font-weight: 600; }
    .color_gray { color: gray; }
    

    

@media ( max-width: 768px){
    .t_c { text-align: center; font-size: 13px; }

}


    
</style>


<script>
    // $("document").ready(function(){
    //     //alert("zzz");
    //     //var conf = confirm("탈퇴할ㄹ?");

    //     if(confirm("탈퇴할ㄹ?") == true)
    //     {
    //         alert("zz");
    //     }
    //     else
    //     {
    //         alert("메롱");
    //     }
    // });
</script>

<body>
    <div class="wrap">
        <div class="inner">
            <div class="pr_wrap">
                <div class="col-xs-6 col-sm-3 product t_c">
                    <img src="../layout/images/img1.jpg" alt="img1">
                    <p class="color_gray">[시크헤라] 라이트 골지 가디건</p>
                    <p>49,900원</p>
                    <p class="color_gray">1,996 P</p>
                </div>

                <div class="col-xs-6 col-sm-3 product t_c">
                    <img src="../layout/images/img2.jpg" alt="img2">
                    <p class="color_gray">[시크헤라] 라이트 골지 가디건</p>
                    <p>49,900원</p>
                    <p class="color_gray">1,996 P</p>
                </div>

                <div class="col-xs-6 col-sm-3 product t_c">
                    <img src="../layout/images/img3.jpg" alt="img3">
                    <p class="color_gray">[시크헤라] 라이트 골지 가디건</p>
                    <p>49,900원</p>
                    <p class="color_gray">1,996 P</p>
                </div>

                <div class="col-xs-6 col-sm-3 product t_c">
                    <img src="../layout/images/img4.jpg" alt="img4">
                    <p class="color_gray">[시크헤라] 라이트 골지 가디건</p>
                    <p>49,900원</p>
                    <p class="color_gray">1,996 P</p>
                </div>
            </div>

            <div class="pr_wrap">
                <div class="col-xs-6 col-sm-3 product">
                    <img src="../layout/images/img1.jpg" alt="img1">
                    <p>[시크헤라] 라이트 골지 가디건</p>
                    <p>49,900원</p>
                    <p>1,996 P</p>
                </div>

                <div class="col-xs-6 col-sm-3 product">
                    <img src="../layout/images/img2.jpg" alt="img2">
                    <p>[시크헤라] 라이트 골지 가디건</p>
                    <p>49,900원</p>
                    <p>1,996 P</p>
                </div>

                <div class="col-xs-6 col-sm-3 product">
                    <img src="../layout/images/img3.jpg" alt="img3">
                    <p>[시크헤라] 라이트 골지 가디건</p>
                    <p>49,900원</p>
                    <p>1,996 P</p>
                </div>

                <div class="col-xs-6 col-sm-3 product">
                    <img src="../layout/images/img4.jpg" alt="img4">
                    <p>[시크헤라] 라이트 골지 가디건</p>
                    <p>49,900원</p>
                    <p>1,996 P</p>
                </div>
            </div>

            
           

           

        </div>

    </div>
</body>
</html>
