body {font-family: Arial; }

#wrap{
    width: 964px;
    margin: 50px auto;
}

header{
    text-align: right;
}

header h1 {
    margin: 0;
    float: left;
}
header nav ul {
    margin: 0;
    padding:  0;
    display: table;
}

header nav ul li {display: table-cell;}

h3 {color: #84b75f;}
h4 {color: #00674c;}
p {font-size: small;}

table{
    border-collapse: collapse;
}
table tr td{
    width: 33.3%;
    border: 1px solid #2a800b;
}
figure{
    margin: 0;
    overflow: hidden;
    border-bottom: 1px solid #aaa;
}
figure img {
    float: left;
    margin-right: 25px;
    margin-bottom: 25px;
}
figure figcaption p {
    margin-top: 0;
}
footer{
    padding: 15px 0;
    text-align: center;
}