<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="vue_app">
        <div>
            <input type="text" v-model="msg"> 
            <button @click="button_handler">
                <span v-if="msg_active">hide</span>
                <span v-else>show</span>
            </button>
        </div>

        <msg-holder v-bind:msg="msg" 
                    v-bind:msg_active="msg_active">
        </msg-holder>
        
        
        <!-- <div v-if="msg_active">{{msg}}</div> -->
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        Vue.component ('msg-holder',{
            props : [ 'msg', 'msg_active'],
            template : '<div v-if="msg_active">{{msg}}</div>'
        });

        Vue.component ('input-holder',{
            props : [ 'msg', 'msg_active','button_handler'],
            template : '<div v-if="msg_active">{{msg}}</div>'
        });

        var vueApp = new Vue ({
            'el' : '#vue_app',
            'data' : {
                'msg' : 'vue.js',
                'msg_active': true
            },
            methods: {
                button_handler : function () {
                    this.msg_active = !this.msg_active;
                }
            }
        });
    </script>
</body>
</html>  